@import "tailwindcss";

@theme {
  --color-primary: #febb32;
  --color-black-secondary: #2b2a2a;
  --color-dark-or-light-primary: #111111;
  --color-dark-or-light-secondary: #ffffff;
}
* {
  @apply transition-colors;
}
.theme-yellow-light {
  --color-primary: #febb32;
  --color-dark-or-light-primary: #ffffff;
  --color-dark-or-light-secondary: #111111;
}

.theme-yellow-dark {
  --color-primary: #febb32;
  --color-dark-or-light-primary: #111111;
  --color-dark-or-light-secondary: #ffffff;
}

/* Tema Green */
.theme-green-light {
  --color-primary: #72b626;
  --color-dark-or-light-primary: #ffffff;
  --color-dark-or-light-secondary: #111111;
}

.theme-green-dark {
  --color-primary: #72b626;
  --color-dark-or-light-primary: #111111;
  --color-dark-or-light-secondary: #ffffff;
}

/* Tema Orange */
.theme-orange-light {
  --color-primary: #ff8a51;
  --color-dark-or-light-primary: #ffffff;
  --color-dark-or-light-secondary: #111111;
}

.theme-orange-dark {
  --color-primary: #ff8a51;
  --color-dark-or-light-primary: #111111;
  --color-dark-or-light-secondary: #ffffff;
}

/* Tema Blue */
.theme-blue-light {
  --color-primary: #4169e1;
  --color-dark-or-light-primary: #ffffff;
  --color-dark-or-light-secondary: #111111;
}

.theme-blue-dark {
  --color-primary: #4169e1;
  --color-dark-or-light-primary: #111111;
  --color-dark-or-light-secondary: #ffffff;
}

/* Tema Pink */
.theme-pink-light {
  --color-primary: #ee6192;
  --color-dark-or-light-primary: #ffffff;
  --color-dark-or-light-secondary: #111111;
}

.theme-pink-dark {
  --color-primary: #ee6192;
  --color-dark-or-light-primary: #111111;
  --color-dark-or-light-secondary: #ffffff;
}

/* Tema Purple */
.theme-purple-light {
  --color-primary: #6957af;
  --color-dark-or-light-primary: #ffffff;
  --color-dark-or-light-secondary: #111111;
}

.theme-purple-dark {
  --color-primary: #6957af;
  --color-dark-or-light-primary: #111111;
  --color-dark-or-light-secondary: #ffffff;
}

/* Tema Red */
.theme-red-light {
  --color-primary: #f72b1c;
  --color-dark-or-light-primary: #ffffff;
  --color-dark-or-light-secondary: #111111;
}

.theme-red-dark {
  --color-primary: #f72b1c;
  --color-dark-or-light-primary: #111111;
  --color-dark-or-light-secondary: #ffffff;
}